:root {
  font-family: Roboto,
               msjh,
               Gulim,
               Helvetica,
               sans-serif;
  font-size: 5vh;
  color: white;
  user-select: none;
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url('./assets/font/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url('./assets/font/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url('./assets/font/Roboto-Medium.ttf');
}

/* font for chinese & japanese*/
@font-face {
  font-family: msjh;
  font-style: normal;
  src: url('./assets/font/msjh.ttf');
}

/* font for korean */
@font-face {
  font-family: Gulim;
  font-style: normal;
  src: url('./assets/font/Gulim.ttf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#v-player {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url('./assets/img/black_prism.png');
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
}

#top-panel {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  font-size: 1.6rem;
}

/* view-label component */
#view-label {
  padding-left: 15px;
}

/* clock component */
#clock {
  display: flex;
  align-items: baseline;
  padding-right: 15px;
}

#clock .time {
  text-align: right;
  padding-right: 15px;
}

#clock .am-pm {
  font-size: 1.2rem;
}

#bottom-panel {
  height: 15vh;
}

#middle-panel {
  height: 75vh;
}

#menu-item {
  display: flex;
  justify-content: space-around;
  padding: 100px 300px 0px 300px;
}

/* music menu component */
#music {
  background-image: url('./assets/icon/music-library.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
}

/* movie menu component */
#movie {
  background-image: url('./assets/icon/movie-library.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
}

/* ====== focus animation START ===== */
#music.focus,
#movie.focus {
  position: relative;
  z-index: 0;
}

#music.focus:before,
#movie.focus:before,
#music.focus:after,
#movie.focus:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: 1px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

#music.focus:after,
#movie.focus:after {
  z-index: 1;
  animation: wave 1.5s infinite 0.75s;
}

#music.focus:before,
#movie.focus:before {
  z-index: 2;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ====== focus animation END ===== */

/* now-playing component */
#now-playing {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

#now-playing .album-art-container {
  width: 15vh;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#now-playing .album-art-container .album-art {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#now-playing .album-art-container .no-album-art{
  width: 100%;
  height: 100%;
  background-image: url('./assets/icon/no-album-art.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#now-playing .track-info {
  width: calc((100vw - 15vh) * 0.7);
}

#now-playing .track-info .track-title {
  padding-top: 5px;
  height: 50%;
  line-height: calc(15vh * 0.5);
  font-weight: 300;
  font-size: calc(15vh * 0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
  padding-right: 2%;
}

#now-playing .track-info .track-artist {
  height: 30%;
  line-height: calc(15vh * 0.3);
  font-weight: 100;
  font-size: calc(15vh * 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
  padding-right: 2%;
}

#now-playing .track-info .track-album {
  height: 30%;
  font-weight: 100;
  font-size: calc(15vh * 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
  padding-right: 2%;
}

#now-playing .track-control {
  width: 45vh;
  display: flex;
}

#now-playing .track-control .previous-track {
  width: 15vh;
  background-image: url('./assets/icon/previous-110-white.png');
  background-position: center;
  background-repeat: no-repeat;
}

#now-playing .track-control .previous-track.focus {
  background-image: url('./assets/icon/previous-110-white-focus.png');
}

#now-playing .track-control .play-pause {
  width: 15vh;
  background-image: url('./assets/icon/play-110-white.png');
  background-position: center;
  background-repeat: no-repeat;
}

#now-playing .track-control .play-pause.focus {
  background-image: url('./assets/icon/play-110-white-focus.png');
}

#now-playing .track-control .play-pause.is-playing {
  background-image: url('./assets/icon/pause-110-white.png');
}

#now-playing .track-control .play-pause.is-playing.focus {
  background-image: url('./assets/icon/pause-110-white-focus.png');
}

#now-playing .track-control .next-track {
  width: 15vh;
  background-image: url('./assets/icon/next-110-white.png');
  background-position: center;
  background-repeat: no-repeat;
}

#now-playing .track-control .next-track.focus {
  background-image: url('./assets/icon/next-110-white-focus.png');
}

/* ====== focus animation START ===== */
#now-playing .track-control .previous-track.focus,
#now-playing .track-control .play-pause.focus,
#now-playing .track-control .play-pause.is-playing.focus,
#now-playing .track-control .next-track.focus {
  position: relative;
  z-index: 0;
}

#now-playing .track-control .previous-track.focus:before,
#now-playing .track-control .play-pause.focus:before,
#now-playing .track-control .play-pause.is-playing.focus:before,
#now-playing .track-control .next-track.focus:before,
#now-playing .track-control .previous-track.focus:after,
#now-playing .track-control .play-pause.focus:after,
#now-playing .track-control .play-pause.is-playing.focus:after,
#now-playing .track-control .next-track.focus:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 2px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

#now-playing .track-control .play-pause.focus:after,
#now-playing .track-control .play-pause.is-playing.focus:after {
  z-index: 1;
  animation: ripple-large 1.5s infinite 0.7s;
}

#now-playing .track-control .play-pause.focus:before,
#now-playing .track-control .play-pause.is-playing.focus:before {
  z-index: 2;
  animation: ripple-large 1.5s infinite;
}

#now-playing .track-control .previous-track.focus:after,
#now-playing .track-control .next-track.focus:after {
  z-index: 1;
  animation: ripple-small 1.5s infinite 0.75s;
}

#now-playing .track-control .previous-track.focus:before,
#now-playing .track-control .next-track.focus:before {
  z-index: 2;
  animation: ripple-small 1.5s infinite;
}

@keyframes ripple-large {
  0% {
    transform: scale(0.65);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes ripple-small {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
/* ====== focus animation END ===== */

/* music-library component */
#music-library {
  display: flex;
  font-weight: 300;
}

#music-library .left-box,
#music-library .right-box {
  width: 20vw;
}

#music-library .left-box .previous-page-icon,
#music-library .right-box .next-page-icon {
  height: 75vh;
}

#music-library .left-box .previous-page-icon {
  background-image: url('./assets/icon/previous-page-120.png');
  background-position: right;
  background-repeat: no-repeat;
}

#music-library .left-box .previous-page-icon.hide {
  background-image: none;
}

#music-library .right-box .next-page-icon {
  background-image: url('./assets/icon/next-page-120.png');
  background-position: left;
  background-repeat: no-repeat;
}

#music-library .right-box .next-page-icon.hide {
  background-image: none;
}

#music-library .middle-box {
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.5);
}

#music-library .category {
  display: flex;
  justify-content: space-between;
}

#music-library .label {
  height: 6.7vh;
  line-height: 6.7vh;
  padding: 5px 15px 0px 15px;
  border-bottom: 0.3vh solid #18FFFF;
}

#music-library .pagination {
  float: right;
  font-weight: 100;
}

#music-library .song-list {
  height: 67vh;
}

#music-library .song-list .track {
  height: calc((67vh - 60px) / 10);
  line-height: calc((67vh - 60px) / 10);
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin: 6px 0px 6px 0px;
  font-size: 1rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.15);
}

#music-library .song-list .track.focus {
  background-color: rgba(255,255,255, 0.45);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

/* movie-library component */
#movie-library {
  display: flex;
  font-weight: 300;
}

#movie-library .left-box,
#movie-library .right-box {
  width: 20vw;
}

#movie-library .left-box .previous-page-icon,
#movie-library .right-box .next-page-icon {
  height: 75vh;
}

#movie-library .left-box .previous-page-icon {
  background-image: url('./assets/icon/previous-page-120.png');
  background-position: right;
  background-repeat: no-repeat;
}

#movie-library .left-box .previous-page-icon.hide {
  background-image: none;
}

#movie-library .right-box .next-page-icon {
  background-image: url('./assets/icon/next-page-120.png');
  background-position: left;
  background-repeat: no-repeat;
}

#movie-library .right-box .next-page-icon.hide {
  background-image: none;
}

#movie-library .middle-box {
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.5);
}

#movie-library .category {
  display: flex;
  justify-content: space-between;
}

#movie-library .label {
  height: 6.7vh;
  line-height: 6.7vh;
  padding: 5px 15px 0px 15px;
  border-bottom: 0.3vh solid #18FFFF;
}

#movie-library .pagination {
  float: right;
}

#movie-library .movie-list {
  height: 67vh;
}

#movie-library .movie-list .movie {
  height: calc((67vh - 60px) / 10);
  line-height: calc((67vh - 60px) / 10);
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin: 6px 0px 6px 0px;
  font-size: 1rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.15);
}

#movie-library .movie-list .movie.focus {
  background-color: rgba(255,255,255, 0.45);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

/* loading-overlay component */
#loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

#loading-overlay .loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-overlay .loading-bar {
  margin: 20px 0px 15px 0px;
  width: 0px;
  height: 2px;
  background-color: white;
  box-shadow: 0 0 10px white;
  transition: width 0.5s;
  animation: loading 1s ease-out infinite;
}

#loading-overlay .loading-text {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  width: 50vw;
}

@keyframes loading {
  0% {
    width: 0px;
  }

  100% {
    opacity: 0;
    width: 50vw;
  }
}
