:root {
  font-family: Roboto,
               msjh,
               Gulim,
               Helvetica,
               sans-serif;
  font-size: 5vh;
  color: white;
  user-select: none;
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url('./assets/font/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url('./assets/font/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url('./assets/font/Roboto-Medium.ttf');
}

/* font for chinese & japanese*/
@font-face {
  font-family: msjh;
  font-style: normal;
  src: url('./assets/font/msjh.ttf');
}

/* font for korean */
@font-face {
  font-family: Gulim;
  font-style: normal;
  src: url('./assets/font/Gulim.ttf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#v-player {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url('./assets/img/wallpaper.png');
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
}

#top-panel {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  font-size: 1.8rem;
}

/* view-label component */
#view-label {
  padding-left: 15px;
}

/* clock component */
#clock {
  display: flex;
  align-items: baseline;
  padding-right: 15px;
}

#clock .time {
  text-align: right;
  padding-right: 15px;
}

#clock .am-pm {
  font-size: 1.2rem;
}

#bottom-panel {
  height: 15vh;
}

#middle-panel {
  height: 75vh;
}

#menu-item {
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 0px 0px;
}

/* music menu component */
#music {
  background-image: url('./assets/icon/music-96-white.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 196px;
  height:196px;
  padding: 50px;
  box-sizing: border-box;
}

#music.focus {
  border: 2px solid white;
}

/* movie menu component */
#movie {
  background-image: url('./assets/icon/movie-96-white.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 196px;
  height: 196px;
  padding: 50px;
  box-sizing: border-box;
}

#movie.focus {
  border: 2px solid white;
}

/* now-playing component */
#now-playing {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

#now-playing .album-art-container {
  width: 15vh;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#now-playing .album-art-container .album-art {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#now-playing .album-art-container .no-album-art{
  width: 100%;
  height: 100%;
  background-image: url('./assets/icon/no-album-art.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#now-playing .track-info {
  width: calc((100vw - 15vh) * 0.7);
}

#now-playing .track-info .track-title {
  padding-top: 5px;
  height: 50%;
  line-height: calc(15vh * 0.5);
  font-weight: 300;
  font-size: calc(15vh * 0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
  padding-right: 2%;
}

#now-playing .track-info .track-artist {
  height: 30%;
  line-height: calc(15vh * 0.3);
  font-weight: 100;
  font-size: calc(15vh * 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
  padding-right: 2%;
}

#now-playing .track-info .track-album {
  height: 30%;
  font-weight: 100;
  font-size: calc(15vh * 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
  padding-right: 2%;
}

#now-playing .track-control {
  width: calc((100vw - 15vh) * 0.3);
  display: flex;
}

#now-playing .track-control .previous-track {
  width: 33%;
  background-image: url('./assets/icon/previous-110-white.png');
  background-position: center;
  background-repeat: no-repeat;
}

#now-playing .track-control .play-pause {
  width: 33%;
  background-image: url('./assets/icon/play-110-white.png');
  background-position: center;
  background-repeat: no-repeat;
}

#now-playing .track-control .play-pause.is-playing {
  background-image: url('./assets/icon/pause-110-white.png');
}

#now-playing .track-control .next-track {
  width: 33%;
  background-image: url('./assets/icon/next-110-white.png');
  background-position: center;
  background-repeat: no-repeat;
}

#now-playing .track-control .previous-track.focus,
#now-playing .track-control .play-pause.focus,
#now-playing .track-control .play-pause.is-playing.focus,
#now-playing .track-control .next-track.focus {
  box-sizing: border-box;
  border: 2px solid white;
}

/* music-library component */
#music-library {
  display: flex;
  font-weight: 300;
}

#music-library .left-box,
#music-library .right-box {
  width: 20vw;
}

#music-library .left-box .previous-page-icon,
#music-library .right-box .next-page-icon {
  height: 65vh;
}

#music-library .left-box .previous-page-icon {
  background-image: url('./assets/icon/previous-page-120.png');
  background-position: right;
  background-repeat: no-repeat;
}

#music-library .left-box .previous-page-icon.hide {
  background-image: none;
}

#music-library .right-box .next-page-icon {
  background-image: url('./assets/icon/next-page-120.png');
  background-position: left;
  background-repeat: no-repeat;
}

#music-library .right-box .next-page-icon.hide {
  background-image: none;
}

#music-library .left-box .blank-space,
#music-library .right-box .track-page {
  height: 10vh;
}

#music-library .right-box .track-page {
  font-weight: 100;
  line-height: 10vh;
  text-align: center;
}

#music-library .middle-box {
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.15);
}

#music-library .category {
  display: flex;
  justify-content: space-between;
}

#music-library .category .song,
#music-library .category .album,
#music-library .category .artist {
  width: 30%;
  padding: 5px;
  text-align: center;
  border: 2px solid lightblue;
}

#music-library .label {
  height: 6.7vh;
  padding: 5px 0px 0px 15px;
  border-bottom: 0.3vh solid #18FFFF;
}

#music-library .song-list {
  height: 67vh;
}

#music-library .song-list .track {
  height: calc((67vh - 60px) / 10);
  line-height: calc((67vh - 60px) / 10);
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin: 6px 0px 6px 0px;
  font-size: 1rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.15);
}

#music-library .song-list .track.focus {
  background-color: rgba(255,255,255, 0.45);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

/* movie-library component */
#movie-library {
  width: 50vw;
  margin: auto;
  font-weight: 300;
}

/* loading-overlay component */
#loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

#loading-overlay .loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-overlay .loading-bar {
  margin: 20px 0px 15px 0px;
  width: 0px;
  height: 2px;
  background-color: white;
  box-shadow: 0 0 10px white;
  transition: width 0.5s;
  animation: loading 1s ease-out infinite;
}

#loading-overlay .loading-text {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  width: 50vw;
}

@keyframes loading {
  0% {
    width: 0px;
  }

  100% {
    opacity: 0;
    width: 50vw;
  }
}

